body{
margin:0;
background:#0f0f0f;
font-family:Arial;
color:white;
}

header{
height:60px;
background:#181818;
display:flex;
align-items:center;
padding:0 20px;
}

.logo{
height:30px;
margin-right:20px;
}

header input{
background:#222;
border:none;
padding:8px;
color:white;
width:300px;
}

.container{
display:flex;
height:calc(100vh - 60px);
}

.player-area{
flex:3;
padding:20px;
}

video{
width:100%;
border-radius:12px;
background:black;
}

.sidebar{
flex:1;
background:#181818;
overflow-y:auto;
padding:10px;
}

.item{
cursor:pointer;
padding:8px;
border-radius:8px;
display:flex;
gap:10px;
align-items:center;
margin-bottom:10px;
}

.item:hover{
background:#333;
}

.item.active{
border:2px solid red;
}

.thumb{
width:120px;
border-radius:6px;
}

.controls{
margin-top:10px;
}

